:root {
    --primary: #FEFAE0;
    --dark: #B99470;
    --light: #A3D1C6;
    --green: #A9B388;
    --glow-color: rgb(95, 111, 82);
}

body{
    min-width: none;
    min-height: 200px;
    background-color: var(--primary);
    font-family: "DM Serif Text", serif;
}
/* navbar */
.jumbotron{
    padding-top: 2rem;
    background-color: var(--green)
}

.kemampuan h5{
    text-underline-position: below;
    border-radius: 3px;    
}
.kemampuan ul{
    border: 1px;

}
footer{
    position: fixed;
    bottom: 0px;
    background-color: var(--dark);
    width: 100%;
    color: black;
    padding: 7px;
    font: "Alumni Sans Pinstripe", serif;
    text-align: center;
}

.content-form{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flexbox;
    flex-direction: column;
}
/* About */
.card-body{
    background-color: rgb(169, 179, 136);
}